<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>658875370637-gefp0jjqa7sej8u965ul69s3q86boo6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658875370637-gefp0jjqa7sej8u965ul69s3q86boo6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBnDsLOYaiaab7dgvSJtQ86PzYI48jP-jo</string>
	<key>GCM_SENDER_ID</key>
	<string>658875370637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appskill.Developlan</string>
	<key>PROJECT_ID</key>
	<string>developlan-d2aaf</string>
	<key>STORAGE_BUCKET</key>
	<string>developlan-d2aaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:658875370637:ios:eacce7e15e7c9795</string>
	<key>DATABASE_URL</key>
	<string>https://developlan-d2aaf.firebaseio.com</string>
</dict>
</plist>